<html lang="en">

<head>
    <link rel="stylesheet" href="/css/weathe.css">
</head>

<body>
    <h1 id="h1">Weather</h1>
    <input style=" font-size: 25px; margin-left:521px" id="input" type="text">
    <button onclick="fun()" style=" height: 25px;width:100px" type="submit">submit</button>
    <p id="desc" style="font-size: 40px;text-align:center">okkk</p>
</body>

</html>